#layoutSidenav_content {
    position: relative;
    background-color: var(--bg-app);
    min-height: 100vh;
    color: var(--text-main);
}

.rounded-circle {
    border-radius: 50%;
}

.btn:hover {
    background-color: #f18000;
    color: #ffffff;
}

body, html {
    font-family: 'Roboto', sans-serif;
}

.img-circular {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
