# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=if0_38581055_sys_inv

# SMTP / Email Configuration
SMTP_HOST=smtp.gmail.com
SMTP_USER=soporte.sdgbp2024@gmail.com
SMTP_PASS="ktwf cyvz rmyh lqfy"
SMTP_PORT=465
SMTP_ENCRYPTION=ssl
SMTP_FROM_EMAIL=soporte.sdgbp2024@gmail.com
SMTP_FROM_NAME="EURIPYS 2024, C.A."

# App Settings
APP_NAME="SDGBP"
APP_ENV=local
APP_DEBUG=true
